# ─────────────────────────────────────────
#  TAGGERR — Variables de entorno
# ─────────────────────────────────────────

# Rutas (dentro del contenedor, no cambiar)
MUSIC_DIR=/music
ART_DIR=/art

# Tema por defecto: industrial | futurista | antiguo
THEME=industrial

# API Keys
ACOUSTID_API_KEY=TuAPIKeyDeAcoustid
DISCOGS_TOKEN=TuTokenDeDiscoGS
BEETS_URL=http://beets:8337

